.data-table-container {
  table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    .serial,
    th {
      font-weight: 700;
    }
    th {
      font-weight: 700;
      padding: 8px;
      border-bottom: 1px solid rgb(222, 226, 230);
      border-spacing: 0;
      box-sizing: border-box;
    }
    td {
      padding: 8px;
      border-bottom: 1px solid rgb(222, 226, 230);
      border-spacing: 0;
      box-sizing: border-box;
    }
  }
}
