.app-conatiner {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    select {
      height: 38px;
      background-color: rgb(255, 255, 255);
      border-color: rgb(206, 212, 218);
      padding: 6px 12px;
      border-radius: 4px;
    }
  }
  .wrapper {
    width: 241px;
    max-width: 100%;
    position: relative;
    input {
      width: 241px;
      height: 38px;
      background-color: rgb(255, 255, 255);
      border-color: rgb(206, 212, 218);
      padding: 6px 12px;
      border-radius: 4px;
    }
    button {
      height: 80%;

      position: absolute;
      top: 10%;
      right: -20px;
    }
  }
}
